body {

    background-color:hsl(0, 0%, 95%);
    font-size: 15px;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 750px;
    margin: 100px auto;
    border: 2px solid transparent;
    border-radius: 20px;
    height: 430px;

    box-sizing: border-box;

}
.first-col {
background-color: hsl(31, 77%, 52%);
padding: 50px 30px;
}

.second-col {
background-color: hsl(184, 100%, 22%);
padding: 50px 30px;

}
.third-col {
background-color: hsl(179, 100%, 13%);
padding: 50px 30px;

}
h1 {
    padding-top: 20px;
    color: hsl(0, 0%, 95%);
}
p {
    padding-top: 4px; 
    color:  hsla(0, 0%, 100%, 0.75);
}
.first-col button {
    margin-top: 50px;
    padding: 10px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: hsl(31, 77%, 52%) ;
}
.second-col button {
    margin-top: 50px;
    padding: 10px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: hsl(184, 100%, 22%);
}
.third-col button {
    margin-top: 50px;
    padding: 10px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 20px;
    color: hsl(179, 100%, 13%);
}
.first-col button:hover {
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
}
.second-col button:hover{
    background-color:  hsl(184, 100%, 22%);
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
}
.third-col button:hover{
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
}
@media screen and (max-width: 753px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
}